<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida!!</p>
<p>Dados da Pergunta</p>
<p>
   <strong>Perguta: </strong>{{ question }} <br />
   <strong>Resposta: </strong>{{ answer }} <br />
   <strong>Data da resposta: </strong>{{ answer_at }}<br />
<br />
<small>Estamos a disposição para dívidas futuras.</small>
</p>