<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso!!</p>
<p>
   <strong>Data início: </strong>{{ start_date }} <br />
   <strong>Data fim: </strong>{{ end_date }}<br />

<br />
<small>Seja bem vindo a nossa academia e sucesso em seus objetivos.</small>
</p>